*{
    margin: 0px;
    padding: 0px;
    background-color: #1175d3;
}
.calculator{
    width: 400px;
    height: 470px;
    align-items: center;
    margin: 30px;
    padding-top: 10px;
    background-color: black;
}
#displayDiv{
    width: 360px;
    height: 60px;
    margin: 10px;
    padding: 10px;
    font-size: xx-large;
    align-content: center;
    background-color: azure;

}
#keysDiv{
    margin: 10px;
    padding: 0px;
    
}
button{
    width: 90px;
    height: 90px;
    font-size: xx-large;
}
.keyEqual{
    height: 90px;
}
.number{
    color: black;
    background-color: rgb(116, 116, 116);
}